<%if notice%>
  <div id="notice" class="alert alert-success"><%=t notice %></div>
<%end%>
<p class="fs-5 mb-4">
  <strong>Solicitante:</strong>
  <%= @reserva.solicitante %>
</p>

<p class="fs-5 mb-4">
  <strong>Data:</strong>
  <%= l Time.parse(@reserva.data.to_s), format: :short %>
</p>

<p class="fs-5 mb-4">
  <strong>Reservado em: </strong>
  <%= l @reserva.created_at, format: :short %>
</p>

<p class="fs-5 mb-4">
  <strong>Descricao:</strong>
  <%= @reserva.descricao %>
</p>

<%= link_to 'Voltar', reservas_path, class: "btn btn-secondary text-light"  %>
<%if (@reserva.user_id == current_user.id) && @reserva.data > Time.now%>
  <%= link_to 'Editar', edit_reserva_path(@reserva, data: @reserva.data), class: "btn btn-primary text-light" %>
  <%= link_to 'Destroy', @reserva, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger text-light"  %>
<%end%>